{% extends "base.html" %}
{% load static %}

{% block main %}

<style>

.container h1 {
    font-family: "Nanum Gothic";
    font-weight: bolder;
}

.container .form-group {
    font-family: "Nanum Gothic";
}

.container label {
    font-weight: bolder;
}

</style>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contents-Topic based Recommendation Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div>name : <span id="name"></span></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" href="/results" role="button">View DB</a>
            </div>
        </div>
    </div>
</div>

<h1 style="text-align: center; margin-top: 2rem; margin-bottom: 1rem;">Contents based Recommendation Input 🍊</h1>
<hr>

<div class = "container">

<div class="container pt-5">
    <div class="row justify-content-md-center">
{#        column grid medium -> 12/4(3분할) number of 4#}
        <div class="col-md-6">
            <form action="" id="post-form">
                {% csrf_token %}


                <div class="form-group">
                    <label for="main_category">카테고리</label><br>

                    {% for elem in category_list  %}
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="main_category" value={{ elem }}>
                    <label class="form-check-label" for="main_category">{{elem}}</label>
                    </div>
                    {%  endfor %}

                </div>



                <div class="form-group">
                    <label for="coordi">코디</label><br>

                    {% for elem in coordi_list  %}
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="coordi" value={{ elem }}>
                    <label class="form-check-label" for="coordi">{{elem}}</label>
                    </div>
                    {%  endfor %}
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="coordi" value="">
                    <label class="form-check-label" for="coordi">없음</label>
                    </div>

                </div>

                <div class="form-group">
                    <label for="input_text">키워드 입력</label>
                    <input type="text" class="form-control" id="input_text"
                           placeholder="키워드를 입력해주세요 (예 : 조거바지, 흰티)" required>
                </div>

                <div class="form-group">
                    <label for="top_n">Top-N</label>
                    <input type="number" step="0.1" class="form-control" id="top_n"
                           placeholder="양의 정수를 입력해주세요" required>
                </div>
                <button style ='margin-top: 2rem;' type="submit" value="Submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">제출</button>
            </form>
        </div>

    </div>
</div>

</div>

<script>

    $(document).on('submit', '#post-form',function(e){
        // name이 같은 체크박스의 값들을 배열에 담는다.
        var main_category_checkboxValues = [];
        $("input[id='main_category']:checked").each( function(i) {
        main_category_checkboxValues.push($(this).val());
        });

        var coordi_checkboxValues = [];
        $("input[id='coordi']:checked").each( function(i) {
        coordi_checkboxValues.push($(this).val());
        });

        console.log(main_category_checkboxValues);
        console.log(coordi_checkboxValues);

        var main_category_string = main_category_checkboxValues.toString()
        var coordi_string = coordi_checkboxValues.toString()

        console.log(main_category_string);
        console.log(coordi_string);


        //{# submit -> 연쇄 다음 이벤트 묵살 -> ajax 실행 #}
        e.preventDefault();

        $.ajax({
            type:'POST',
            //{#app = predict, reference url namespace => submit_prediction #}

            url:'{% url "predict:prediction" %}',
            dataType : "json",
            // 데이터를 json 문자열로 변환
            data: JSON.stringify({
                input_text:$('#input_text').val(),
                top_n:$('#top_n').val(),
                coordi: coordi_string,
                main_category: main_category_string,
                // Django의 form csrf 토큰을 가져온다.
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                // action: 'post'
            }),

            success:function(json) {
                {#form 보냄이 성공하면 적은 내용 사라짐#}
                document.forms["post-form"].reset();
                alert('POST Success!');

                document.getElementById("name").innerHTML = json['name']


            },
            error : function(xhr,errmsg,err) {
                console.log(error);
            }
        });
    })

</script>


{% endblock %}